/*
  Styles specific to the admin page (admin.html).
  Author: afk-gharcia
*/


.admin-blank-msg {
    padding: 48px 0;
    text-align: center;
    color: #ffd700;
    font-size: 1.3em;
    opacity: 0.7;
}

.admin-content-hidden {
    display: none;
}


.player-tab {
  top: 18px !important;
}
.stage-tabs {
  margin-top: 32px !important;
}